@import 'tailwindcss';

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
}

.container-admin {
  width: 1200px;
  height: fit-content;
}

.list-books {
  margin-top: 1rem;
}
